@model IEnumerable<PhotoContest.App.ViewModels.ContestViewModel>

@{
    ViewBag.Title = "Own Contests";
}

<div class="jumbotron">
    <h2>@ViewBag.Title</h2>
    <h2>Welcome to Pinarcor Photo Contest Site!</h2>
    <h3>Give us Your best photo and win prizes!</h3>
</div>

@{
    foreach (var contest in Model)
    {
        <div class="col-md-4">
            <h3>@contest.Title</h3>
            <p>Created on: @String.Format("{0:M/d/yyyy}", @contest.DateCreated)</p>
            <p>End: @String.Format("{0:M/d/yyyy}", @contest.DateEnd)</p>
            <p>Participation Strategy: @contest.ParticipationStrategy</p>
            @Html.ActionLink("Edit", "Edit", "Contests", new { id = contest.Id } ,new { @class=  "btn btn-info btn-sm" })
            @Html.ActionLink("Finalize", "Finalize", "Contests", new { id = contest.Id } ,new { @class = "btn btn-warning btn-sm" })
            @Html.ActionLink("Dismiss", "Dismiss", "Contests", new { id = contest.Id } ,new { @class = "btn btn-danger btn-sm" })
            @Html.ActionLink("Details", "Details", "Contests", new { id = contest.Id }, new { @class = "btn btn-primary" })
        </div>
    }
}
