<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Pinarcor Photo Contest</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Pinarcor Photo Contest", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (Request.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Your Profile", "Profile", "User", new { area = "" }, new { })</li>
                        <li>@Html.ActionLink("Active Contests", "Active", "Contests", new { area = "" }, new { })</li>
                        <li>@Html.ActionLink("Past Contest", "Past", "Contests", new { area = "" }, new { })</li>
                        <li>@Html.ActionLink("Create Contest", "Create", "Contests", new { area = "" }, new { })</li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="body-content">
        @Html.Partial("_NotificationView")
        @RenderBody()
        <hr />
        <footer class="row">
            <div class="panel-footer text-center">
                <p>&copy; @DateTime.Now.Year - Pinarcor Photo Contest</p>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/signalr")
    <script src="/signalr/hubs"></script>
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/NotificationsLoader.js"></script>
</body>
</html>
